/*-- scss:defaults --*/

// Custom colours and variables

$jet: #131516;
$accent: #107895;
$accent2: #e64173;
$accent3: mix(#000, #107895, 33%);

// #0c9c7f, mix(#000, #AAF0BE, 25%), #44d7a8, #49E3B2
// fonts

// colors
$body-bg: #f0f1eb !default;
$body-color: $jet !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;

/*-- scss:rules --*/

// title and headings

